.app__footer {
  width: 100%;
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background-color: var(--color-black);
  padding-top: 0 !important;
}

.app__footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  margin-block-start: 5rem;
  width: 100%;
}

@media (min-width: 43.75em) {
  .app__footer-links {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
}

.app__footer-links_contact,
.app__footer-links_logo,
.app__footer-links_work {
  flex: 1;
  text-align: center;
}

.app__footer-links_contact a {
  transition: color var(--transition);
}

.app__footer-links_contact a:is(:hover, :focus) {
  color: var(--color-golden);
}

.app__footer-headtext {
  color: var(--color-white);
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.625rem;

  margin: 0 0 1rem 0;
}

@media (min-width: 43.75em) {
  .app__footer-headtext {
    margin: 0 0 2rem 0;
  }
}

@media (max-width: 43.75em) {
  .app__footer-links_logo {
    order: -1;
  }
}

.app__footer-links_logo img:first-child {
  display: inline-block;
  margin-block-end: 0.75rem;
  width: 9.375rem;
}

@media (min-width: 43.75em) {
  .app__footer-links_logo img:first-child {
    width: 13.125rem;
  }
}

.app__footer-links_social {
  display: inline-flex;
  justify-content: center;
  gap: 1rem;

  margin-block-start: 0.625rem;
  width: 100%;
}

.footer__copyright {
  margin-block-start: 5rem;
}
