.app__aboutus {
  position: relative;
  z-index: 1;
}

/* Overlay */
.app__aboutus-overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.app__aboutus-overlay img {
  width: 19.375rem;
}

@media (min-width: 71.875em) {
  .app__aboutus-overlay img {
    width: 24.4375rem;
  }
}

/* Content */
.app__aboutus-content {
  width: 100%;
}

@media (max-width: 71.875em) {
  .app__aboutus-content {
    flex-direction: column;
  }
}

.app__aboutus-content_about,
.app__aboutus-content_history {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app__aboutus-content_about {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.app__aboutus-content_knife {
  margin: 2rem 4rem;
}

.app__aboutus-content_knife img {
  height: 36.875rem;
}

@media (min-width: 56.25em) {
  .app__aboutus-content_knife img {
    height: 56.875rem;
  }
}

.app__aboutus-content_history {
  justify-content: flex-start;
  align-items: flex-start;
}

.app__aboutus-content_about p,
.app__aboutus-content_history p {
  color: var(--color-grey);
  margin-block: 2rem;
}
