/* -------------------------------------------------------------------------- */
/*                                  CSS RESET                                 */
/* -------------------------------------------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Smooth scroll */
html,
body {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove the default link color and his underline decoration */
a {
  color: unset;
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

/* Remove default margin and padding */
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   GLOBAL                                   */
/* -------------------------------------------------------------------------- */

body {
  background-color: var(--color-black);
  background-image: url("./assets/patternbg.svg");
}

/* Container */
.container {
  --max-width: 90rem;
  --padding: 2rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

@media (min-width: 36em) {
  .container {
    padding-inline: 2rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   STARTER                                  */
/* -------------------------------------------------------------------------- */

.section__padding {
  padding: 4rem 6rem;
}

.section__padding-block {
  padding: 6rem 0;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: url("./assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* min-height: 100vh; */
}

.app__wrapper-info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper-img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper-img_reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper-img img {
  width: 80%;
}

.button {
  background-color: var(--color-golden);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.04em;
  line-height: 28px;
  padding: 0.8rem 2rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all var(--transition);
}

.button:is(:hover, :focus) {
  background-color: var(--color-grey);
  color: var(--color-black);
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-weight: 500;
  font-size: clamp(2.625rem, 7vw, 4rem);
  line-height: clamp(3rem, 7vw, 5.1875rem);
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper-img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper-img_reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper-img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }

  .section__padding-block {
    padding: 4rem 0;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__padding-block {
    padding: 4rem 0;
  }

  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 14px;
  }

  .p__cormorant {
    font-size: 19px;
  }
}
